/* Space out content a bit */
body {
  padding-top:20px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  color: #535453;

}
h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 40px;
  font-family: 'Anton', sans-serif;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* header */
.header {
  padding-bottom: 20px;
  border-bottom: 3px solid #31ab70;

}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/*head and experience carousel indicator  */
.carousel-indicators li {
  border-color: #31ab70;
  }
.carousel-indicators li.active {
  background-color: #31ab70;
  }

/* navigation */
.nav li a{
  color: #31ab70 !important;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  }
.nav li a:hover, .nav li.active a{
  color: #fff !important;
  background-color: #31ab70 !important;
}

/* about */
#about p{
  padding-bottom: 20px;
  border-bottom: 3px solid #31ab70;
}
#about img{
  box-shadow: 5px 5px 2.5px grey;
}

/*project */

.project-type{
  font-family: 'Anton', sans-serif;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

}

#project .thumbnail{
  box-shadow: 6px 6px 3px #31ab70;
}


/* experience */
#experience .jumbotron{
  border-top:5px solid #31ab70;
}

#experience p{
  font-style: normal;
}

#experience .carousel-control.right, .carousel-control.left {
        background-image: none;
        color: #31ab70;
}

/*contact*/
#contact h3{
  text-shadow: 1.5px 1.5px #31ab70;
}

#contact .thumbnail{
  margin-top: 30px;
  border: 2px solid #31ab70;
}

#contact a{
  color: #31ab70;
}



/* footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 3px solid #31ab70;
}

/* Customize container */
.container-fluid {
  padding: 48px 40px;
}

.bg-grey {
  background-color: #f6f6f6;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
